@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,400i,600,700");
/* Document
   ========================================================================== */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
  max-width: 100%;
  height: auto;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

input:focus {
  outline: 0px;
}

.container, .buttonsIndex, header .top, .main__cat__caption, .productos, .productos__item, .total, .total__cart, .total__cart__text, .totalCarrito, .confCompra {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.item, .welcome__logo, .welcome__copy, .buttonsIndex, .buttonsIndex__signUp, .boxTextLog,
.conditionsLog,
.buttonLog,
.buttonLogSocial,
.linkSingup,
.logMsg-info,
.logMsg-war,
.logMsg-dang,
.logMsg-succ,
.logMsgNT-succ,
.logMsgNT-war, .titleLog, header .top__menu, header .top__titulo, header .top__carrito, .main__cat__caption__name, .main__cat__caption__cant, .productos__item, .productos__item__img, .productos__item__details, .total__text, .total__price, .total__cart__text, .total__cart__text p, .total__cart__order, .totalCarrito__cart, .totalCarrito__conf, .confCompra__item {
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
}

.item {
  width: 100%;
}

.item.container {
  padding-left: 0;
  padding-right: 0;
}

/*
| Mixin para crear cuadriculas
|
| $gridItemSelector: nombre del selector CSS de cada item de la cuadricula
| $listColumns:
|              * lista de numeros de columnas en cada breakpoint (separados por espacios). Ej: 1 2 3 4
|              * el numero de columnas del ultimo breakpoint se hereda a breakpoints superiores
| $gutter: separación entre cada item de la cuadricula (opcional)
|
*/
@font-face {
  font-family: "ez";
  src: url("fonts/ez.eot");
  src: url("fonts/ez.eot?#iefix") format("embedded-opentype"), url("fonts/ez.woff") format("woff"), url("fonts/ez.ttf") format("truetype"), url("fonts/ez.svg#ez") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "ez" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "ez" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ios-cart-outline:before {
  content: "\61";
}

.icon-star:before {
  content: "\63";
}

.icon-navicon:before {
  content: "\64";
}

.icon-logout:before {
  content: "\65";
}

.icon-settings-streamline-1:before {
  content: "\62";
}

.icon-ios-close-empty:before {
  content: "\68";
}

.boxTextLog-login {
  padding-top: 1.5em;
}

.boxTextLog__group__link {
  float: right;
  width: auto;
  margin-left: 1em;
  color: #79D440;
  margin: 2em 0;
}

.welcome {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  z-index: 1000;
}

.welcome__logo, .welcome__copy {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  text-align: center;
  color: #EAEAEF;
}

@media screen and (min-width: 640px) {
  .welcome__logo, .welcome__copy {
    width: 75%;
  }
}

@media screen and (min-width: 1024px) {
  .welcome__logo, .welcome__copy {
    width: 55%;
  }
}

.welcome__logo {
  font-size: 3em;
}

.buttonsIndex {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

@media screen and (min-width: 640px) {
  .buttonsIndex {
    width: 75%;
  }
}

@media screen and (min-width: 1024px) {
  .buttonsIndex {
    width: 55%;
  }
}

.buttonsIndex__signUp {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .buttonsIndex__signUp {
    width: 50%;
  }
}

.body-log {
  background-image: url("../img/log.jpg");
  background-size: auto 100vh;
  position: relative;
  padding-top: 1.5em;
  padding-bottom: 1em;
}

.body-log:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba(14, 13, 14, 0.9);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.boxTextLog,
.conditionsLog,
.buttonLog,
.buttonLogSocial,
.linkSingup,
.logMsg-info,
.logMsg-war,
.logMsg-dang,
.logMsg-succ,
.logMsgNT-succ,
.logMsgNT-war {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  color: #EAEAEF;
}

@media screen and (min-width: 640px) {
  .boxTextLog,
  .conditionsLog,
  .buttonLog,
  .buttonLogSocial,
  .linkSingup,
  .logMsg-info,
  .logMsg-war,
  .logMsg-dang,
  .logMsg-succ,
  .logMsgNT-succ,
  .logMsgNT-war {
    width: 75%;
  }
}

@media screen and (min-width: 1024px) {
  .boxTextLog,
  .conditionsLog,
  .buttonLog,
  .buttonLogSocial,
  .linkSingup,
  .logMsg-info,
  .logMsg-war,
  .logMsg-dang,
  .logMsg-succ,
  .logMsgNT-succ,
  .logMsgNT-war {
    width: 40%;
  }
}

.buttonsIndex__signIn,
.buttomLog__SignUp {
  text-transform: uppercase;
  line-height: 2.5em;
  text-align: center;
  cursor: pointer;
  display: block;
  background: #79D440;
  border-radius: 5px;
  margin-top: 2em;
  margin-bottom: 1em;
  border: none;
  color: #ffffff;
  width: 100%;
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all;
}

.buttonsIndex__signIn:hover,
.buttomLog__SignUp:hover {
  background: #60b829;
  text-decoration: none;
}

.buttonsIndex__signUp {
  text-transform: uppercase;
  line-height: 2.5em;
  text-align: center;
  cursor: pointer;
  display: block;
  background: #ffffff;
  border-radius: 5px;
  margin-top: 2em;
  margin-bottom: 1em;
  border: none;
  color: #79D440;
  width: 100%;
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all;
}

.buttonsIndex__signUp:hover {
  background: #e6e6e6;
  text-decoration: none;
}

.buttomLogSocial__SignUp {
  line-height: 2.5em;
  text-align: center;
  cursor: pointer;
  display: block;
  background: #D23F31;
  border-radius: 5px;
  margin-top: 2em;
  margin-bottom: 1em;
  border: none;
  color: #ffffff;
  width: 100%;
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all;
}

.buttomLogSocial__SignUp:hover {
  background: #ab3125;
  text-decoration: none;
}

.formLog {
  position: relative;
  width: 100%;
}

.logMsg-info {
  top: -1.5em;
  position: relative;
  background: #5BC0DE;
  display: block;
  margin: 0 auto;
  -webkit-box-shadow: 0px 3px 0px #1b6d85;
  box-shadow: 0px 3px 0px #1b6d85;
}

.logMsg-info p {
  padding: .5em 1em;
  margin: 0;
  font-size: .95em;
  color: #EAEAEF;
}

.logMsg-info p span {
  font-weight: 600;
}

.logMsg-dang {
  top: -1.5em;
  position: relative;
  background: #F0AD4E;
  display: block;
  margin: 0 auto;
  -webkit-box-shadow: 0px 3px 0px #985f0d;
  box-shadow: 0px 3px 0px #985f0d;
}

.logMsg-dang p {
  padding: .5em 1em;
  margin: 0;
  font-size: .95em;
  color: #EAEAEF;
}

.logMsg-dang p span {
  font-weight: 600;
}

.logMsg-succ {
  top: -1.5em;
  position: relative;
  background: #5CB85C;
  display: block;
  margin: 0 auto;
  -webkit-box-shadow: 0px 3px 0px #255625;
  box-shadow: 0px 3px 0px #255625;
}

.logMsg-succ p {
  padding: .5em 1em;
  margin: 0;
  font-size: .95em;
  color: #EAEAEF;
}

.logMsg-succ p span {
  font-weight: 600;
}

.logMsg-war {
  top: -1.5em;
  position: relative;
  background: #D9534F;
  display: block;
  margin: 0 auto;
  -webkit-box-shadow: 0px 3px 0px #761c19;
  box-shadow: 0px 3px 0px #761c19;
  width: 100%;
}

.logMsg-war p {
  padding: .5em 1em;
  margin: 0;
  font-size: .95em;
  color: #EAEAEF;
}

.logMsg-war p span {
  font-weight: 600;
}

.logMsgNT-succ {
  position: relative;
  background: #5CB85C;
  display: block;
  margin: 0 auto;
  -webkit-box-shadow: 0px 3px 0px #255625;
  box-shadow: 0px 3px 0px #255625;
  text-align: center;
  margin-top: 2em;
}

.logMsgNT-succ p {
  padding: .5em 1em;
  margin: 0;
  font-size: .95em;
  color: #EAEAEF;
}

.logMsgNT-succ p span {
  font-weight: 600;
}

.logMsgNT-war {
  position: relative;
  background: #D9534F;
  display: block;
  margin: 0 auto;
  -webkit-box-shadow: 0px 3px 0px #761c19;
  box-shadow: 0px 3px 0px #761c19;
  text-align: center;
  margin-top: 2em;
}

.logMsgNT-war p {
  padding: .5em 1em;
  margin: 0;
  font-size: .95em;
  color: #EAEAEF;
}

.logMsgNT-war p span {
  font-weight: 600;
}

.titleLog {
  width: 100%;
  position: relative;
  text-align: center;
}

.titleLog p {
  color: #79D440;
  font-size: 1.8em;
  margin-top: 1em;
  margin-bottom: 0;
  font-weight: 300;
  text-transform: uppercase;
}

.titleLog span {
  margin: 0;
  font-size: 1em;
  color: #EAEAEF;
}

.boxTextLog {
  margin-top: 1.5em;
}

.boxTextLog__group {
  display: block;
  margin-bottom: 1em;
}

.boxTextLog__group__label {
  display: block;
  color: #79D440;
  font-size: .95em;
  cursor: pointer;
}

.boxTextLog__group__input {
  border: none;
  border-bottom: 1px solid #EAEAEF;
  background: none;
  width: 100%;
  color: #EAEAEF;
  line-height: 1.3em;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 1.05em;
  font-weight: 300;
}

.boxTextLog__info {
  font-size: .8em;
  margin: 0;
  padding: 0;
}

.conditionsLog {
  margin-top: 2.5em;
  margin-bottom: 1em;
}

.conditionsLog label {
  cursor: pointer;
}

.conditionsLog label a {
  color: #79D440;
}

.buttonLog__SignUp {
  font-size: 1.1em;
  width: 100%;
  display: block;
}

.linkSingup {
  text-align: center;
}

.linkSingup__link {
  color: #79D440;
  text-decoration: underline;
  text-align: center;
}

.actv-cont {
  margin-top: 3em;
}

.fin {
  margin-top: auto;
}

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background: #0E0D0E;
  color: #fff;
}

header .top {
  max-width: 100%;
  line-height: 2.5;
  height: 2.45em;
  text-align: center;
  font-size: 1.3em;
}

header .top__menu {
  width: 15%;
  cursor: pointer;
  position: relative;
}

@media screen and (min-width: 1024px) {
  header .top__menu {
    width: 10%;
  }
}

header .top__menu i {
  line-height: 2.5;
  font-size: 1.3em;
  position: relative;
  top: -5px;
}

header .top__menu i:hover {
  color: #79D440;
}

header .top__titulo {
  width: 70%;
}

@media screen and (min-width: 1024px) {
  header .top__titulo {
    width: 80%;
  }
}

header .top__carrito {
  width: 15%;
  cursor: pointer;
  position: relative;
}

@media screen and (min-width: 1024px) {
  header .top__carrito {
    width: 10%;
  }
}

header .top__carrito a {
  color: #fff;
}

header .top__carrito a:hover {
  text-decoration: none;
}

header .top__carrito a:hover {
  color: #79D440;
}

header .top__carrito i {
  position: relative;
  top: 3px;
}

header .top__carrito__badges {
  position: absolute;
  background: #79D440;
  font-size: .8em;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  line-height: 17px;
  font-weight: 600;
  top: 10px;
  right: 17px;
}

@media screen and (min-width: 640px) {
  header .top__carrito__badges {
    right: 28px;
  }
}

@media screen and (min-width: 1024px) {
  header .top__carrito__badges {
    right: 38px;
  }
}

@media screen and (min-width: 1440px) {
  header .top__carrito__badges {
    right: 50px;
  }
}

.nav {
  width: 60%;
  background: rgba(14, 13, 14, 0.85);
  position: absolute;
  top: 3.2em;
  height: calc(100vh - 3.2em);
  left: -70%;
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all;
  z-index: 99999;
}

@media screen and (min-width: 640px) {
  .nav {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .nav {
    width: 25%;
  }
}

.nav__profile {
  margin-top: .8em;
  margin-bottom: 2em;
  text-align: center;
}

.nav__profile__img {
  width: 35%;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}

.nav__profile__img img {
  width: 100%;
  border-bottom: 0;
  display: block;
}

.nav__profile__name {
  color: #EAEAEF;
  font-size: 1.2em;
  margin-top: 1em;
}

.nav__profile__name p {
  margin: 0;
}

.nav__profile__edit {
  margin-top: .5em;
  font-size: .95em;
}

.nav__profile__edit a {
  color: #79D440;
}

.nav__menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__menu__item {
  padding-left: 15px;
  padding-right: 15px;
  line-height: 3;
}

.nav__menu__item:hover {
  background: rgba(14, 13, 14, 0.8);
}

.nav__menu__link {
  display: block;
  color: #EAEAEF;
  font-size: 1.05em;
}

.nav__menu__link i {
  position: relative;
  font-size: 1.15em;
  top: 3px;
  margin-right: 15px;
}

.nav__menu__link:hover {
  text-decoration: none;
}

.nav.show-navMenu {
  left: 0;
}

.main {
  display: grid;
  overflow: hidden;
}

.main__cat {
  position: relative;
}

.main__cat a {
  display: block;
  width: 100%;
  height: 100%;
}

.main__cat:nth-child(1) {
  grid-column: auto / span 2;
  height: calc(50vh - 3em);
  min-height: calc(50vh - 3.2em);
  max-height: calc(50vh - 3.2em);
  background-image: url("../img/menu.jpeg");
  background-size: cover;
  background-position: center 0;
}

@media screen and (min-width: 640px) {
  .main__cat:nth-child(1) {
    background-position: center -6em;
  }
}

@media screen and (min-width: 1024px) {
  .main__cat:nth-child(1) {
    background-position: center -15em;
  }
}

.main__cat:nth-child(2) {
  grid-row: auto / span 2;
  background-image: url("../img/drink.jpg");
  background-size: cover;
  background-position: center 0;
  height: 50vh;
  min-height: 50vh;
  max-height: 50vh;
}

.main__cat:nth-child(2) img {
  visibility: hidden;
}

.main__cat:nth-child(3) {
  height: 25vh;
  max-height: 25vh;
  background-image: url("../img/sandwich.jpg");
  background-size: cover;
  background-position: center 0;
}

.main__cat:nth-child(4) {
  height: calc(25vh - 3.2em);
  min-height: 25vh;
  background-image: url("../img/candys.jpg");
  background-size: cover;
  background-position: center 0;
  background-position: center 0;
}

@media screen and (min-width: 640px) {
  .main__cat:nth-child(4) {
    background-position: center -1em;
  }
}

@media screen and (min-width: 1024px) {
  .main__cat:nth-child(4) {
    background-position: center -3em;
  }
}

.main__cat:nth-child(4) img {
  visibility: hidden;
}

.main__cat__caption {
  max-width: 100%;
  background: rgba(14, 13, 14, 0.6);
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #EAEAEF;
  font-weight: 600;
}

.main__cat__caption__name {
  width: 80%;
  line-height: 2.5;
}

.main__cat__caption__name p {
  margin: 0;
}

.main__cat__caption__cant {
  width: 20%;
  color: #79D440;
  line-height: 2.5;
  text-align: center;
}

.main__cat__caption__cant p {
  margin: 0;
}

.main img {
  display: block;
}

.grayBG {
  background: #EAEAEF;
}

#productos {
  margin-top: 1em;
}

.productos__item {
  width: 100%;
  margin-bottom: 1em;
  position: relative;
}

@media screen and (min-width: 640px) {
  .productos__item {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .productos__item {
    width: 33.33%;
  }
}

.productos__item__img {
  width: 45%;
  padding-left: 0px;
  padding-right: 0px;
}

@media screen and (min-width: 640px) {
  .productos__item__img {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .productos__item__img {
    width: 40%;
  }
}

.productos__item__img img {
  display: block;
  height: 100%;
}

.productos__item__details {
  width: 55%;
  background: #ffffff;
}

@media screen and (min-width: 640px) {
  .productos__item__details {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .productos__item__details {
    width: 60%;
  }
}

.productos__item__details__titulo {
  font-weight: 600;
  margin-bottom: 0;
}

.productos__item__details__cate {
  font-weight: 300;
  font-size: .8em;
  margin: 0;
  color: #808080;
}

.productos__item__details__price {
  color: #79D440;
  position: relative;
  bottom: 0;
  font-weight: 600;
}

.productos__item__details__cant {
  border: none;
  border-bottom: 1px solid #0E0D0E;
  margin-top: 10px;
}

.productos__item__details__cant:focus {
  background: #EAEAEF;
}

.productos__item__details__add {
  float: right;
  width: auto;
  margin-left: 1em;
  color: #ffffff;
  background: #79D440;
  border-radius: 3px;
  border: none;
  line-height: 2;
  padding: 0 20px;
  font-size: 1.15em;
  margin-bottom: 15px;
}

.productos__item__details__add i {
  position: relative;
  top: 3px;
}

.productos__item__details__add:hover {
  background: #60b829;
}

.productos__item__details__btnCant {
  float: right;
  width: auto;
  margin-left: 1em;
}

.productos__item__details__btnCant__btn {
  color: #ffffff;
  background: #79D440;
  border-radius: 3px;
  border: none;
  line-height: 2;
  padding: 0 20px;
  font-size: 1.15em;
}

.productos__item__details__btnCant__btn:hover {
  background: #60b829;
}

.productos__item__details__del {
  color: #fff;
  background: #D23F31;
  border-radius: 3px;
  border: none;
  line-height: 2;
  padding: 0 20px;
  font-size: 1.15em;
  margin-bottom: 15px;
  display: block;
}

.productos__item__details__del:hover {
  text-decoration: none;
}

.productos__item__details__del i {
  position: relative;
  top: 3px;
}

.productos__item__details__del:hover {
  background: #962b21;
}

#total {
  background: #79D440;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.total {
  color: #ffffff;
  line-height: 3.5em;
  font-weight: 600;
}

.total__text {
  width: 80%;
}

.total__text p {
  margin: 0;
}

.total__price {
  width: 20%;
  text-align: center;
}

.total__price p {
  margin: 0;
}

.total__cart {
  color: #ffffff;
  line-height: 3.5em;
  font-weight: 600;
}

.total__cart__text {
  width: 70%;
}

.total__cart__text p {
  width: 20%;
}

@media screen and (min-width: 640px) {
  .total__cart__text p {
    width: 10%;
  }
}

.total__cart__order {
  width: 30%;
}

@media screen and (min-width: 640px) {
  .total__cart__order {
    width: 20%;
  }
}

@media screen and (min-width: 1024px) {
  .total__cart__order {
    width: 10%;
  }
}

.total__cart__order button {
  border: none;
  background: #356417;
  color: #EAEAEF;
  line-height: 1.5em;
  padding: 0 20px;
  border-radius: 3px;
  margin: 0 auto;
}

.total__cart__order button:hover {
  background: #55a325;
}

.totalCarrito {
  max-width: 100%;
  position: fixed;
  bottom: 0;
  color: #ffffff;
  line-height: 3.5em;
  font-weight: 600;
  background: #79D440;
}

.totalCarrito__cart {
  width: 50%;
  text-align: center;
}

.totalCarrito__cart p {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.totalCarrito__conf {
  width: 50%;
  background: #55a325;
}

.totalCarrito__conf a {
  display: block;
  color: #fff;
  text-align: center;
}

.totalCarrito__conf a:hover {
  text-decoration: none;
}

.totalCarrito__conf a.d {
  pointer-events: none;
}

.totalCarrito__conf:hover {
  background: #3f791b;
}

.confCompra {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 2em;
}

.confCompra__item {
  width: 50%;
  background: #fff;
}

.confCompra__item p span {
  font-weight: 600;
  color: #79D440;
}
